{% ckan_extends %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('Account Info') }}</h2>
    <div class="module-content">
        <p>
        {% trans %}
            Your profile helps others on the Hub learn about you and your data. 
            For guidance on setting up or updating your profile, visit the
            <span> <a href="https://docs.txwaterdatahub.org/account-management/Index.html">Hub Documents Library</a></span>.
        {% endtrans %}
        </p>
    </div>
  </section>
{% endblock %}
